<!doctype html>
<html lang="en"
 xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link  rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="icon" href="/images/book.ico" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>
    <script src="/js/script.js" ></script>
    <title>MYBOOK</title>
  </head>
  <body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">MYBOOK</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav ml-auto">
        <form method="get" th:action="search" class="d-flex">
        <input class="form-control me-2" name = "search" type="text" placeholder="Введите автора или издательство" aria-label="Search" />
        <button type="submit" class="btn btn-dark">Найти</button>
        </form>
        <li class="nav-item">
          <a th:if="${user.getIsAdmin()}" class="nav-link" href="/catalog">Справочники</a>
        </li>
        <li class="nav-item">
          <a th:if="${not isLogin}" class="nav-link" href="/login">Пользователь</a>
          <a th:if="${isLogin}" class="nav-link" href="/login" th:text="${user.getUserName()}"></a>
        </li>
         <li class="nav-item">
          <a th:if="${user.getIsAdmin()}" class="nav-link" th:href="@{'/new'}">Добавить книгу</a>
        </li>
        <li th:if="${not user.getIsAdmin() and isLogin}" class="nav-item">
          <a  class="nav-link" th:href="@{'/orders'}">Заказы</a>
        </li>
      </ul>
    </div>
  </nav>
 
   <div class="container mt-5">
     <th:block layout:fragment="rows">
   	<div class="row">
      <h2 class="title"><td th:text="${book.getName()}"></td></h2>
    </div>
    <div class="row">
      <div class="card-group">
      <div class="col-md-3">
      <img th:src="${book.getImage()}"  style="height: 18rem;" class="card-img-top mx-left" th:alt="${book.getImage()}" \>
      </div>
        <div class="col-md-9">
        <div class="card">
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><td th:text="${book.getCost()}"</li>
        <li th:if="${isLogin}" class="list-group-item">
        <form th:if="${user.getIsAdmin()}" method="POST" action="/books" class="form-inline">
        <a th:href="@{/edit/{id}(id=${book.getId()})}"><button type="button"  class="btn btn-secondary">Редактировать</button></a>
        <form th:if="${not user.getIsAdmin() and isLogin}" method="post" th:action="@{'/order/' + ${book.getId()}}">
      <button type="submit" class="btn btn-primary btn-sm">Заказать</button>
      </form>
      </form>
      </li>
        <li class="list-group-item">Автор: <td th:text="${book.getWriters()}"></td></li>
        <li class="list-group-item">Издательство: <td th:text="${book.getPublisher()}"></td></li>
        <li class="list-group-item">Язык оригинала: <td th:text="${book.getOrigLang()}"></td></li>
        <li class="list-group-item">Переводчик: <td th:text="${book.getTranslator()}"></td</li>
        <li class="list-group-item">Тип обложки: <td th:text="${book.getTypeCover()}"></td</li>
        <li class="list-group-item">Возрастной рейтинг: <td th:text="${book.getRating()}"></td</li>
        <li class="list-group-item">Количество страниц: <td th:text="${book.getPageCount()}"></td></li>
        </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
        <div class="card">
          <div class="card-body">
          <h5 class="card-title">Аннотация:</h5>
          <p class="card-text">
          <td th:text="${book.getAnnotation()}"
          </p>
          </div>
        </div>
    </div>
    </th:block>
   </div>
  </body>
</html>