<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/img/book.ico">
    <title>MYBOOK</title>
  </head>
  <body>

  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="index.html">MYBOOK</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav ml-auto">
        <form class="d-flex">
        <input class="form-control me-2"  type="text" placeholder="Поиск" aria-label="Search">
        </form>
        <li class="nav-item">
          <a class="nav-link" href="#">Корзина</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html">Пользователь</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Добавить книгу</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-5 p-5">
    <form>
    <div class="row">
    <h1>Введите данные книги</h1>
    </div>
    <div class="form-group">
    <div class="row">
      <div class="col-md-5">
      <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupFile01">Загрузить изображение обложки</label>
      <input type="file" class="form-control" id="inputGroupFile01">
      </div>
      </div>
      <div class="col-md-7">
      <div class="input-group">
      <span class="input-group-text">Наименование</span>
      <input type="text" class="form-control">
      </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-5">
      <div class="input-group mb-3">
      <span class="input-group-text">Стоимость</span>
      <span class="input-group-text">Руб.</span>
      <input type="text" class="form-control">
      </div>
      </div>
      <div class="col-md-7">
      <div class="input-group mb-3">
      <span class="input-group-text">Количество страниц</span>
      <input type="text" class="form-control">
      </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-4">
<label for="Input">Автор</label>
<select class="form-control" id="exampleFormControlSelect1">
<option>Роберт Сапольски</option>
<option>Карл Маркс</option>
<option>Владимир Ленин</option>
 <option>Фридрих Энгельс</option>
</select>
</div>
<div class="col-md-4">
<label for="Input">Издательство</label>
<select class="form-control" id="exampleFormControlSelect1">
<option>Азбука</option>
<option>Шанс</option>
<option>Просвещение</option>
<option>Аст</option>
</select>
</div>
<div class="col-md-4">
<label for="Input">Тип обложки</label>
<select class="form-control" id="exampleFormControlSelect1">
<option>Твердый</option>
<option>Мягкий</option>
</select>
</div>
</div>
<div class="row">
<div class="col-md-4">
<label for="Input">Язык оригинала</label>
<select class="form-control" id="exampleFormControlSelect1">
<option>Русский</option>
<option>Английский</option>
<option>Немецкий</option>
<option>Китайский</option>
</select>
</div>
<div class="col-md-4">
<label for="Input">Переводчик</label>
<select class="form-control" id="exampleFormControlSelect1">
<option>-</option>
<option>Виктор Топоров</option>
<option>Геннадий Киселев</option>
<option>Максим Немцов</option>
</select>
</div>
<div class="col-md-4">
<label for="Input">Восрастной рейтинг</label>
<select class="form-control" id="exampleFormControlSelect1">
<option>6+</option>
<option>12+</option>
<option>16+</option>
<option>18+</option>
</select>
</div>
</div>
<form>
<div class="form-group">
<label for="Textarea">Аннотация</label>
<textarea class="form-control" id="Textarea" rows="3"></textarea>
</div>
</form>
<button type="submit" class="btn btn-primary">Добавить</button>
</form>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>