<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/img/book.ico">
    <title>MYBOOK</title>
  </head>
  <body>

  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="index.html">MYBOOK</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav ml-auto">
      	<form class="d-flex">
        <input class="form-control me-2"  type="text" placeholder="Поиск" aria-label="Search">
      	</form>
        <li class="nav-item">
          <a class="nav-link" href="#">Корзина</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html">Пользователь</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="addbook.html">Добавить книгу</a>
        </li>
      </ul>
    </div>
  </nav>

   <div class="container-fluid mt-5">
   	<div class="card-group">
    	<div class="card">
  			
  			<div class="card-body">
  				<img src="/img/book_3.jpg"  style="height: 18rem;" class="card-img-top mx-left" alt="...">
    			<h5 class="card-title">Наименование</h5>
 			 </div>
  		<ul class="list-group list-group-flush">
  	  	<li class="list-group-item">Aвтор: Такой-то</li>
  		</ul>
  		<div class="card-body">
    	<a href="/bookinfo.html" class="btn btn-success btn-sm">Подробнее</a>
    	<a href="#" class="btn btn-primary btn-sm">Заказать</a>
    	<a href="#" class="btn btn-secondary btn-sm">Удалить</a>
  		</div>
		</div>
		<div class="card">
  			
  			<div class="card-body">
  				<img src="/img/book_4.jpg"  style="height: 18rem;" class="card-img-top" alt="...">
    			<h5 class="card-title">Наименование</h5>
 			 </div>
  		<ul class="list-group list-group-flush">
  	  	<li class="list-group-item">Aвтор: Такой-то</li>
  		</ul>
  		<div class="card-body">
    	<a href="/bookinfo.html" class="btn btn-success btn-sm">Подробнее</a>
    	<a href="#" class="btn btn-primary btn-sm">Заказать</a>
    	<a href="#" class="btn btn-secondary btn-sm">Удалить</a>
  		</div>
		</div>
		<div class="card">
  			
  			<div class="card-body">
  				<img src="/img/book_5.jpg"  style="height: 18rem;" class="card-img-top" alt="...">
    			<h5 class="card-title">Наименование</h5>
 			 </div>
  		<ul class="list-group list-group-flush">
  	  	<li class="list-group-item">Aвтор: Такой-то</li>
  		</ul>
  		<div class="card-body">
    	<a href="/bookinfo.html" class="btn btn-success btn-sm">Подробнее</a>
    	<a href="#" class="btn btn-primary btn-sm">Заказать</a>
    	<a href="#" class="btn btn-secondary btn-sm">Удалить</a>
  		</div>
		</div>
		<div class="card">
  			
  			<div class="card-body">
  				<img src="/img/book_6.jpg"  style="height: 18rem;" class="card-img-top" alt="...">
    			<h5 class="card-title">Наименование</h5>
 			 </div>
  		<ul class="list-group list-group-flush">
  	  	<li class="list-group-item">Aвтор: Такой-то</li>
  		</ul>
  		<div class="card-body">
    	<a href="/bookinfo.html" class="btn btn-success btn-sm">Подробнее</a>
    	<a href="#" class="btn btn-primary btn-sm">Заказать</a>
    	<a href="#" class="btn btn-secondary btn-sm">Удалить</a>
  		</div>
		</div>
		<div class="card">
  			
  			<div class="card-body">
  				<img src="/img/book_7.jpg"  style="height: 18rem;" class="card-img-top" alt="...">
    			<h5 class="card-title">Наименование</h5>
 			 </div>
  		<ul class="list-group list-group-flush">
  	  	<li class="list-group-item">Aвтор: Такой-то</li>
  		</ul>
  		<div class="card-body">
    	<a href="/bookinfo.html" class="btn btn-success btn-sm">Подробнее</a>
    	<a href="#" class="btn btn-primary btn-sm">Заказать</a>
    	<a href="#" class="btn btn-secondary btn-sm">Удалить</a>
  		</div>
		</div>
	</div>
	<div class="card-group">
    	<div class="card">
  			
  			<div class="card-body">
  				<img src="/img/book_8.jpg"  style="height: 18rem;" class="card-img-top" alt="...">
    			<h5 class="card-title">Наименование</h5>
 			 </div>
  		<ul class="list-group list-group-flush">
  	  	<li class="list-group-item">Aвтор: Такой-то</li>
  		</ul>
  		<div class="card-body">
    	<a href="/bookinfo.html" class="btn btn-success btn-sm">Подробнее</a>
    	<a href="#" class="btn btn-primary btn-sm">Заказать</a>
    	<a href="#" class="btn btn-secondary btn-sm">Удалить</a>
  		</div>
		</div>
		<div class="card">
  			<div class="card-body">
  				<img src="/img/book_9.jpg"  style="height: 18rem;" class="card-img-top" alt="...">
 			 </div>
  		<ul class="list-group list-group-flush">
  	  	<li class="list-group-item">Aвтор: Такой-то</li>
  		</ul>
  		<div class="card-body">
    	<a href="/bookinfo.html" class="btn btn-success btn-sm">Подробнее</a>
    	<a href="#" class="btn btn-primary btn-sm">Заказать</a>
    	<a href="#" class="btn btn-secondary btn-sm">Удалить</a>
  		</div>
		</div>
		<div class="card">
  			
  			<div class="card-body">
  				<img src="/img/book_10.jpg"  style="height: 18rem;" class="card-img-top" alt="...">
    			<h5 class="card-title">Наименование</h5>
 			 </div>
  		<ul class="list-group list-group-flush">
  	  	<li class="list-group-item">Aвтор: Такой-то</li>
  		</ul>
  		<div class="card-body">
    	<a href="/bookinfo.html" class="btn btn-success btn-sm">Подробнее</a>
    	<a href="#" class="btn btn-primary btn-sm">Заказать</a>
    	<a href="#" class="btn btn-secondary btn-sm">Удалить</a>
  		</div>
		</div>
		<div class="card">
  			
  			<div class="card-body">
  				<img src="/img/book_11.jpg"  style="height: 18rem;" class="card-img-top" alt="...">
    			<h5 class="card-title">Наименование</h5>
 			 </div>
  		<ul class="list-group list-group-flush">
  	  	<li class="list-group-item">Aвтор: Такой-то</li>
  		</ul>
  		<div class="card-body">
  		<a href="/bookinfo.html" class="btn btn-success btn-sm">Подробнее</a>
    	<a href="#" class="btn btn-primary btn-sm">Заказать</a>
    	<a href="#" class="btn btn-secondary btn-sm">Удалить</a>
  		</div>
		</div>
		<div class="card">
  			
  			<div class="card-body">
  				<img src="/img/book_12.jpg"  style="height: 18rem;" class="card-img-top" alt="...">
    			<h5 class="card-title">Наименование</h5>
 			 </div>
  		<ul class="list-group list-group-flush">
  	  	<li class="list-group-item">Aвтор: Такой-то</li>
  		</ul>
  		<div class="card-body">
    	<a href="/bookinfo.html" class="btn btn-success btn-sm">Подробнее</a>
    	<a href="#" class="btn btn-primary btn-sm">Заказать</a>
    	<a href="#" class="btn btn-secondary btn-sm">Удалить</a>
  		</div>
		</div>
	</div>
   </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>