<!doctype html>
<html lang="en"
 xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" href="/images/book.ico" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>
    <script src="/js/script.js" ></script>
    <title>MYBOOK</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">MYBOOK</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav ml-auto">
        <form method="get" th:action="search" class="d-flex">
        <input class="form-control me-2" name = "search" type="text" placeholder="Введите автора или издательство" aria-label="Search" />
        <button type="submit" class="btn btn-dark">Найти</button>
        </form>
        <li class="nav-item">
          <a th:if="${user.getIsAdmin()}" class="nav-link" href="/catalog">Справочники</a>
        </li>
        <li class="nav-item">
          <a th:if="${not isLogin}" class="nav-link" href="/login">Пользователь</a>
          <a th:if="${isLogin}" class="nav-link" href="/login" th:text="${user.getUserName()}"></a>
        </li>
         <li class="nav-item">
          <a th:if="${user.getIsAdmin()}" class="nav-link" th:href="@{'/new'}">Добавить книгу</a>
        </li>
        <li th:if="${not user.getIsAdmin() and isLogin}" class="nav-item">
          <a  class="nav-link" th:href="@{'/orders'}">Заказы</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-5 mb-5 text-center">
    <div th:if="${param.error}">
            Неверное имя пользователя или пароль
        </div>
        <div th:if="${param.signup}">
            Новый пользователь создан
        </div>
    <div class="row justify-content-center">

    <div class="col-3 align-self-center" allign="center">
      <form th:if="${isLogin}" th:action="logout" method="post">
            <input class="w-100 btn btn-lg btn-danger" type="submit" value="Sign Out"/>
        </form>
   <main class="form-signin">
  <form th:if="${not isLogin}" th:action="login"
    method="post">
    <img class="mb-4" src="/images/book.ico" alt="" width="72" height="57">
    <h4 class="h4 mb-3 fw-normal">Введите данные пользователя</h4>

    <div class="form-floating">
      <input type="text" name ="userName" class="form-control" id="floatingInput" placeholder="Имя пользователя">
      <label for="floatingInput">Имя пользователя</label>
    </div>
    <div class="form-floating">
      <input type="password" name ="userPassword" class="form-control" id="floatingPassword" placeholder="Пароль">
      <label for="floatingPassword">Пароль</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    <a th:href="@{'/signup'}" class="w-100 btn btn-success btn-sm">Зарегестрироваться</a>
  </form>
</main>
</div>
</div>
</div>
  </body>
</html>