<!doctype html>
<html lang="en"
 xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" href="/images/book.ico" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>
    <script src="/js/script.js" ></script>
    <title>MYBOOK</title>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">MYBOOK</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav ml-auto">
        <form method="get" th:action="search" class="d-flex">
        <input class="form-control me-2" name = "search" type="text" placeholder="Введите автора или издательство" aria-label="Search" />
        <button type="submit" class="btn btn-dark">Найти</button>
        </form>
        <li class="nav-item">
          <a th:if="${user.getIsAdmin()}" class="nav-link" href="/catalog">Справочники</a>
        </li>
        <li class="nav-item">
          <a th:if="${not isLogin}" class="nav-link" href="/login">Пользователь</a>
          <a th:if="${isLogin}" class="nav-link" href="/login" th:text="${user.getUserName()}"></a>
        </li>
         <li class="nav-item">
          <a th:if="${user.getIsAdmin()}" class="nav-link" th:href="@{'/new'}">Добавить книгу</a>
        </li>
        <li th:if="${not user.getIsAdmin() and isLogin}" class="nav-item">
          <a  class="nav-link" th:href="@{'/orders'}">Заказы</a>
        </li>
      </ul>
    </div>
  </nav>

   <div class="container mt-5">
   	<div class="row">
      <h1>Заказы</h1>
        <table class="table">
          <thead class="table-success">
            <tr>
              <th>Наименование</th>
              <th>Автор</th>
              <th>Стоимость</th>
            </tr>
          </thead>
          <tbody>
           <tr th:each="order: ${orders}">
            <td th:text="${order.getBook().getName()}"></td>
            <td th:text="${order.getBook().getWriters()}"></td>
            <td th:text="${order.getBook().getCost()}"></td>
           </tr>
          </tbody>
        </table>  
	   </div>
   </div>
  </body>
</html>