<!doctype html>
<html lang="en"
 xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" href="/images/book.ico" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>
    <script src="/js/script.js" ></script>
    <title>MYBOOK</title>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">MYBOOK</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav ml-auto">
        <form method="get" th:action="search" class="d-flex">
        <input class="form-control me-2" name = "search" type="text" placeholder="Введите автора или издательство" aria-label="Search" />
        <button type="submit" class="btn btn-dark">Найти</button>
        </form>
        <li class="nav-item">
          <a th:if="${user.getIsAdmin()}" class="nav-link" href="/catalog">Справочники</a>
        </li>
        <li class="nav-item">
          <a th:if="${not isLogin}" class="nav-link" href="/login">Пользователь</a>
          <a th:if="${isLogin}" class="nav-link" href="/login" th:text="${user.getUserName()}"></a>
        </li>
         <li class="nav-item">
          <a th:if="${user.getIsAdmin()}" class="nav-link" th:href="@{'/new'}">Добавить книгу</a>
        </li>
        <li th:if="${not user.getIsAdmin() and isLogin}" class="nav-item">
          <a  class="nav-link" th:href="@{'/orders'}">Заказы</a>
        </li>
      </ul>
    </div>
  </nav>

   <div class="container-fluid mt-5">
   	<div class="row">
      <tr th:each="book: ${books}">
        <div class="col-md-3">
    	<div class="card">
  			<div class="card-body">
  				<img th:src="${book.getImage()}"  style="height: 18rem;" class="card-img-top mx-left" th:alt="${book.getImage()}" \>
    			<h5 class="card-title"><td th:text="${book.getName()}"></td>
          </h5>
 			 </div>
  		<ul class="list-group list-group-flush">
  	  	<li class="list-group-item">Стоимость: <td th:text="${book.getCost()}"></td></li>
  		</ul>
  		<div class="card-body">
    	<a th:href="@{'/books/' + ${book.getId()}}" class="btn btn-success btn-sm">Подробнее</a>
      <form th:if="${not user.getIsAdmin() and isLogin}" method="post" th:action="@{'/order/' + ${book.getId()}}">
    	<button type="submit" class="btn btn-primary btn-sm">Заказать</button>
      </form>
  		</div>
		</div>
	</div>
  </th:block>
	   </div>
   </div>
  </body>
</html>